REACT_APP_API_KEY=EXAMPLE
REACT_APP_AUTH_DOMAIN=EXAMPLE.firebaseapp.com
REACT_APP_DATABASE_URL=https://EXAMPLE.firebaseio.com
REACT_APP_PROJECT_ID=EXAMPLE
REACT_APP_STORAGE_BUCKET=EXAMPLE.appspot.com
REACT_APP_MESSAGING_SENDER_ID=EXAMPLE
REACT_APP_MEASUREMENT_ID=G-EXAMPLE
REACT_APP_APP_ID=1:EXAMPLE

REACT_APP_CLIENT_ID=EXAMPLE.apps.googleusercontent.com
